<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <ul>
        <% countries.forEach(function(country) { %>
        <li>
          <b> Id: </b> <%=country.id%> <b> Name: </b> <%=country.name%>
          <b> Capital: </b> <%=country.capital%>
        </li>
        <% }); %>
      </ul>
    </div>
  </body>
</html>
